/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --theme-bg-image: url("../images/cover-image-light.png");
  --background-color: rgba(255, 241, 247, 1);
  --accent-color: rgba(53, 52, 48, 1);
  --accent-color-transparent: rgba(53, 52, 48, 0.4);
  --main-title-color: rgba(255, 194, 230, 1);
  --bg-color-title-decor: rgba(255, 141, 203, 1);
  --text-block__heading-color: rgba(53, 52, 48, 1);
  --text-block__paragraph-color: rgba(53, 52, 48, 1);
}

.theme-light .header__decoration-lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-bg-image: url("../images/cover-image-light.png");
    --background-color: rgba(255, 241, 247, 1);
    --accent-color: rgba(53, 52, 48, 1);
    --accent-color-transparent: rgba(53, 52, 48, 0.4);
    --main-title-color: rgba(255, 194, 230, 1);
    --bg-color-title-decor: rgba(255, 141, 203, 1);
    --text-block__heading-color: rgba(53, 52, 48, 1);
    --text-block__paragraph-color: rgba(53, 52, 48, 1);
  }
  .header__decoration-lamp {
    display: none;
  }
}
